* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  text-align: center;
}

main {
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.title {
  font-size: 2.5em;
  line-height: 1.1;
  color: hsl(300, 43%, 22%);
}

.stars {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 1em;
  background-color:  hsl(300, 24%, 96%);
  padding: 1em;
  width: 100%;
  border-radius: .5em;
} 

.paragraph {
  color: hsl(303, 10%, 53%);
  margin-block: 1em;
  font-size: 1.1em;
}

.stars-row {
  display: flex;
  gap: .5em;
  margin-bottom: 0.5rem;
}

.star-icon {
  width: 16px;
  height: 16px;
}

.rated-stars {
  font-weight: bold;
  color: hsl(300, 43%, 22%);
  font-size: 1.2em;
}

.reviews-container {
  background-color: hsl(300, 43%, 22%);
  padding: 2em;
  margin-block: 2em;
  border-radius: .8em;
}

.user {
  display: flex;
  align-items: center;
  gap: 2em;
  margin-bottom: 1em;
}

.user-data {
  text-align: left;
  line-height: 1.2;
}

.user img {
  border-radius: 50%;
  width: 20%;
}

.user h2 {
  color: #fff;
  font-weight: 600;
}

.user h3 {
  color: hsl(333, 80%, 67%);
  font-weight: 400;
}

.reviews-container p {
  color: #fff;
  font-size: 1.2em;
  text-align: left;
  font-weight: 400;
}

@media only screen and (min-width: 850px) {
  main {
    width: 100%;
    margin-top: 5em;
  }
  
  .text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    text-align: left;
    width: 100%;
    margin-top: 2em;
  }
  
  .text-container {
    width: 30%;
  }

  .title {
    font-size: 3.8em;
    
  }
  

  .paragraph {
    font-size: 1.5em;
  }
    
  .stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    padding: 1em 3em;
  }  

  .star-review {
    transform: translateX(-8rem);
  }

  .report-guru {
    transform: translateX(-3rem)
  }

  .reviews {
    display: flex;
    justify-content: center;
    gap: 2em;
  }

  .reviews-container {
    width: 25%;
    height: 280px;
  }

  .irene-roberts {
    transform: translateY(3rem);
  }

  .anne-wallace {
    transform: translateY(6rem);
  }  
}