@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: hsl(30, 38%, 92%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  
}

main {
  max-width: 700px;
  display: flex;
  -webkit-box-shadow: 0px 0px 64px 7px rgba(189,189,189,1);
  -moz-box-shadow: 0px 0px 64px 7px rgba(189,189,189,1);
  box-shadow: 0px 0px 64px 7px rgba(189,189,189,1);   


}

.container {
  background-color: white;
  padding: 2em;
}

.img-desktop {
  max-width: 50%;
  display: block;
}

.img-mobile {
  display: none;
}

h1 {
  font-size: 1em;
  letter-spacing: 8px;
  font-weight: lighter;
  color: hsl(228, 12%, 48%);
  margin-bottom: 1.5em;
  font-weight: 400;
}

h2, .price1 {
  font-family: 'Fraunces', serif;
}

h2 {
  font-size: 2.4em;
  margin-bottom: 1em;
  color: hsl(212, 21%, 14%);
}

p {
  color: hsl(228, 12%, 48%) ;
  line-height: 1.6;
  margin-bottom: 1.5em;

}

.price1 {
  color: hsl(158, 36%, 37%);
  font-size: 30px;
  padding-right: 0.5em;
}

.price2 {
  text-decoration: line-through;
  color:hsl(228, 12%, 48%) ;
}

button {
  background-color:  hsl(158, 36%, 37%);
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 3em;
  border-radius: 0.8em;
  color: white;
  padding: 15px 20px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background-color:  hsl(158, 43%, 25%);
  transition: all 0.3s ease-in;
}

button img {
  position: relative;
  margin-right: 1em;
  top: 3px
}


footer {
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
}


@media (max-width: 800px) {
  main {
      flex-direction: column;
      width: 80%;
  }

  .img-mobile {
      display: block;

  }

  .img-desktop {
      display: none;
  }


}

