@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary*/

    --clr-bright-orange: hsl(31, 77%, 52%); 
    --clr-dark-cyan: hsl(184, 100%, 22%);
    --clr-very-dark-cyan: hsl(179, 100%, 13%);

    /* Neutral*/

    --clr-paragraphs: hsla(0, 0%, 100%, 0.75);
    --clr-background-headings-buttons: hsl(0, 0%, 95%);

    --ff-primary: "Big Shoulders Display";
    --ff-secondary: "Lexend Deca";

    --fw-regular: 400;
    --fw-bold: 700;
}


body {
    font-family: var(--ff-secondary);
    background-color: var(--clr-background-headings-buttons);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container {
   max-width: 900px;
   padding: 1em;
   margin: auto;
}

button {
    background-color: var(--clr-background-headings-buttons);
    border-radius: 2em;
    padding: 1em 2em;
    font-family: var(--ff-secondary);
    border: .2em solid hsl(0, 0%, 95%);
}

.items {
    display: flex;
    border-radius: .5em;
    overflow: hidden;
}

.items .content {
    padding: 3em 2em;
}

.items .orange {
    background-color: var(--clr-bright-orange);
}

.items .green {
    background-color: var(--clr-dark-cyan);
}

.items .dark-green {
    background-color: var(--clr-very-dark-cyan);
}

h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 700;
    font-family: var(--ff-primary);
    margin: .8em 0;
}

p {
    color: var(--clr-paragraphs);
    font-size: 1em;
    margin-bottom: 3em;
    line-height: 1.5;
}

.orange button {
    color: var(--clr-bright-orange);
}

.green button {
    color: var(--clr-dark-cyan);
}

.very-dark button {
    color: var(--clr-very-dark-cyan);
}

.orange button:hover,
.green button:hover,
.dark-green button:hover {
    background: transparent;
    color: var(--clr-background-headings-buttons);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 786px) {

    body {
        height: calc(100vh - 1%);
    }

    .container {
        max-width: 500px;
        margin: auto;
    }

    .items {
        flex-direction: column;
    }

    button {
        margin: 0;
    }

    .items p {
        margin: 2em 1em;
    }
}

